@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

}

:root {
  --arabic: 'El Messiri';
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-weight: 400;
  font-family: var(--arabic);
}